 
/*TAGS STYLING*/
body {
  background-color: red;
  text-align: center;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Times New Roman", Times, serif;
}
h2 {
  font-family: 'Paytone One', sans-serif;
  text-decoration: underline;
  font-weight: lighter;
  font-size: 50px;
}
h3 {
  font-family: 'Syncopate', sans-serif;
}
h4 {
  font-family: 'Bad Script', cursive;
  font-weight: bold;
  font-size: 20px;
}
/*CLASSES AND ID STYLING*/
.triangle-tracker {
  position: relative;
  background-color: yellow;
  padding-bottom: 12px;
  padding-top: 6px;
  margin-top: 3px;
  margin-left: 400px;
  margin-right: 400px;
  border-radius: 10%;
  border-style: inset;
}
.triangle3 {
  opacity: 0.5;
  width: 200px;
  height: 200px;
  float: left;
  margin-left: 50px;
  margin-top: 50px;
  transform: rotate(45deg);
}
.triangle1 {
  opacity: 1.0;
  width: 200px;
  height: 300px;
  float: right;
  margin-left: 50px;
  margin-top: 50px;
  margin-right: 40px;
  transform: rotate(270deg);
}
.triangle2 {
  opacity: 0.2;
  margin-left: 0;
  margin-bottom: 0;
  width: 900px;
  height: 900px;
  float: right;
  position: absolute;
  margin-top: 0;
}
.sideA {
  padding-left: 14px;
  width: 35px;
  height: 35px;
  padding-right: 25px;
}
.sideB {
  padding-left: 14px;
  width: 35px;
  height: 35px;
  padding-right: 25px;
}
.sideC {
  padding-left: 14px;
  width: 35px;
  height: 35px;
  padding-right: 25px;
}


